@use "~resources/scss/partials/variables" as *;
@use "~resources/scss/partials/mixins" as *;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}
